:root {
    --primary-color: #2ecc71;
    --background-color: #0E131F;
}

html {
    scroll-behavior: smooth;
    margin: 0;
}

* {
    margin: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    line-height: 1.6;
}

.dark-theme {
    background-color: var(--background-color);
    color: #ffffff;
}

.dark-theme a {
    color: #ffffff;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}